<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"  media="screen,projection"/>
      <!-- <link rel="stylesheet" href="../public/css/style.css"/> -->
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    <!-- <script type="text/javascript" language="javascript">
      $('.carousel.carousel-slider').carousel({fullWidth: true});
    </script> -->


    <div class="divider"></div>
    <br>
    <br>
    <div class = "container">
    <div class = "row">
      <div class = "col s3" style= "border:1px solid grey; padding:20px">
        <h5 style="text-align:center; color: grey"> New Post </h5>
        <br>
        <div class=".input-field">
          <form method="POST" action="/articles">
            Title:<br>
            <input type="text" name="title"><br>
            Post Date:<br>
            <input type="text" name="post_date"></br>
            Category:<br>
            <input type="text" name="category"></br>
            Image url:<br>
            <input type="text" name="img"><br>
            Article Text:<br>
            <textarea name="markdown" placeholder="Enter markdown here" rows="20" cols="50"></textarea>

            <button class="btn waves-effect waves-light light-blue" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>

          </form>
        </div>
      </div>

        <br>
        <br>

    <div class="col s6 offset-s1 grey lighten-1">
      <% articles.forEach((article) => { %>
        <div class="card-panel white lighten-3" style="color:#006064; padding:20px">
      <div>
        <h3><a href="/articles/<%= article.id %>"><%= article.title%></a></h3>
        <h6><%=article.post_date %></h6>
        <br>
        <br>
        <img src="<%= article.img%>" alt="" style="max-width:100%">
        <p class="flow-text"><%= article.wiki_text %></p>
        <p class="flow-text">Tag: <%= article.category%> </p>
        <br>
        <br>
      </div>
    </div>
    <br>
      <% }); %>

    </div>
  </body>
</html>
